<%= turbo_frame_tag "messages_form" do %>
  <%= form_with(model: [@room, @message], html: {class: " fixed bottom-0 right-0 h-56 w-full flex bg-gray-200 pt-2" }) do |f| %>
    <div class="flex flex-col w-11/12 px-2 pb-1">
      <%= f.rich_text_area :content, :class => "h-full w-full pt-4 pl-4" %>
    </div>
    <%= f.submit "Send Messege", :class => "h-10 px-2 mx-6 mt-10 flex justify-center items-center bg-blue-500 cursor-pointer text-xl text-white" %>
  <% end %>
<% end %>
