<div class="h-full w-full">
  <div id="allMessages">
    <%= render partial: "messages/message", collection: @messages %>
  </div>
</div>
<div class="h-56 w-full absolute"></div>
<%= turbo_frame_tag "messages_form" do %>
  <%= render "messages/form", :room => @room %>
<% end %>
<div id="logInModal">
</div>
