<div class="h-full w-full" data-controller="messages">
  <%= turbo_frame_tag "messages", src: room_messages_path(@room) do %>
  <% end %>
</div>
<%= turbo_frame_tag "messages_form", src: new_room_message_path(@room) do %>
<% end %>
