<div class="fixed bottom-0 h-28 w-4/5 border-t-2 border-black flex">
  <textarea type="text" class="h-full w-10/12 pt-4 pl-4"></textarea>
  <h3 class="flex justify-center items-center w-2/12 h-full bg-blue-500 cursor-pointer text-xl text-white"> Send Messege </h3>
</div>
