<nav class="h-20 w-full sticky top-0 bg-blue-500" data-controller="navbar">
  <div class="w-full h-full px-4 flex items-center justify-between text-white">
    <a href="<%= route_to_home %>" class="text-2xl">Home</a>
    <% if current_user %>
      <a data-action="click->navbar#toggleNavbar" class="cursor-pointer"> <%= current_user.email.split("@").shift() %> </a>
    <% end %>
  </div>
  <div class="w-1/4 min-h-24 flex flex-col bg-gray-300 ml-auto hidden" data-navbar-target="dropDown">
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  </div>
</nav>
